<div [ngClass]="display ? 'bac':''" >

<div *ngIf="isVisible1"  class="chec text-danger"><i id="hon" class="fa-solid fa-circle-xmark"></i></div>
 <div class="container">
<br><br><br><br>
<audio id="rmo" src="../../assets/rmo.mp3"></audio>
    <h2 class="text-light t">Votre panier</h2>
    <table class="table ">
      <thead>
        <tr>
          
          <th>Produit</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th>Sous-total</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart">
          <td>
        {{ item.name }}
          </td>
          <td>{{ item.price }} MAD</td>
          <td >{{ item.quantity}}</td>
          <td>{{ item.price * item.quantity }} MAD</td>
          <td>
            <button class="btn btn-danger" (click)="removeFromCart(item)">
              Retirer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="valider">
      <h4 class="text-light ">Total : {{ getTotal() }} MAD</h4>
      <button class="btn btn-success"  routerLink="/formulaire">Valider</button>
    </div>
    
  </div>
</div>
  
