/* font-family: "Lilita One", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
nav{
    font-family: "Lilita One", sans-serif;
    padding: 5px;
    margin: 4px 2px;
    border: 4px solid black;
    border-radius: 10px;
 position: absolute;
    width: 99.5%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

ul{
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: end;
    align-items: center;
    height: 100%;
    list-style: none;
   
 

}
a{
    text-decoration: none;
  
  
   
}
.d{
    color: #ffffff;
    transition: 300ms ease-in-out;
}
.d:hover{
    color: #000000;
    scale: 1.1;
}
.l{
    color: #000000;
    transition: 300ms ease-in-out;
}
.l:hover{
    color: #ffffff;
    scale: 1.1;
}

ul li{
    margin: 0px 25px;
    transition: 300ms ease-in-out;
}
i{
    cursor: pointer;
}
.nv{
    width: 70%;
}

i{
    font-size: 20px;
    
}

ul li a{
    text-decoration: none;
   
    transition: 300ms ease-in-out;
}
.aaa{
    text-shadow: 1px 2px 0px #000000,
    1px -2px 0px #000000,
    1px 2px 0px #000000,
    1px -2px 0px #000000,
    1px 3px 10px #fff8f8;
    font-size: 24px;
    color: #ffffff;

}
.aaaa{
    color: #000000;
    text-shadow: 1px 2px 0px #ffffff,
    1px -2px 0px #ffffff,
    1px 2px 0px #ffffff,
    1px -2px 0px #ffffff,
    1px 3px 10px #000000;
    font-size: 24px;
}

@media  (max-width:700px){
    
   nav{
    font-size: 15px
   }
   .aaa{
    font-size: 15px;
   }
   i{
    font-size: 15px;
  
   }
   ul li{
    margin: 0px 10px;
   }

} 
    
