<!-- 
<nav class=" navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Ilyass_E-Commerce</a>
  <div class="nv" >
    <ul >
      <li >
        <a  routerLink="/products">Produits</a>
      </li>
      <li >
        <a  routerLink="/cart">Panier</a>
      </li>
    </ul>
  </div>
</nav> -->
<nav >

 
  <a class="aaa" [ngClass]="display ? 'aaaa': 'aaa'"  routerLink="/">EL-OGRI_ECOMMERCE</a>
  <ul>
  
   
    <li><a [ngClass]="display ? 'l': 'd'" routerLink="/products">Produits</a></li>
    <li><a [ngClass]="display ? 'l': 'd'" 
      routerLink="/cart">Paniers</a></li>
    <li><i [ngClass]="display ? 'fa-solid fa-phone l': 'fa-solid fa-phone d'" ></i></li>
    <li><i [ngClass]="display ? 'fa-solid fa-envelope l': 'fa-solid fa-envelope d'" ></i></li>
   
    <li><i (click)="toggleDisplay()" [ngClass]="display ? 'fa-solid fa-moon l': 'fa-solid fa-sun d'" ></i></li>
  </ul>
</nav>


<router-outlet></router-outlet>
