<!-- 
<nav class=" navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Ilyass_E-Commerce</a>
  <div class="nv" >
    <ul >
      <li >
        <a  routerLink="/products">Produits</a>
      </li>
      <li >
        <a  routerLink="/cart">Panier</a>
      </li>
    </ul>
  </div>
</nav> -->
<nav >

 
  <a class="aaa" [ngClass]="display ? 'aaaa': 'aaa'"  routerLink="/">EL-OGRI_ECOMMERCE</a>
  <ul>
  
   
    <li><a routerLink="/products">Produits</a></li>
    <li><a 
      routerLink="/cart">Paniers</a></li>
    <li><i class="fa-solid fa-phone"></i></li>
    <li><i class="fa-solid fa-envelope"></i></li>
   
    <li><i (click)="toggleDisplay()" [ngClass]="display ? 'fa-solid fa-moon': 'fa-solid fa-sun'" ></i></li>
  </ul>
</nav>


<router-outlet></router-outlet>
