@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Lilita+One&display=swap');
h1{
    border-left: solid 6px rgb(255, 255, 255);
    color:white;
    font-family: 'kavoon';
    padding: 10px;
    margin: 10px;

}
h2 {
    color:white;
    font-family: 'kavoon';
    padding: 10px;
    margin: 10px;
    text-align: center;
}
label{
     color:white;
    font-family: 'kavoon';
    font-size: larger;
    margin: 0 10px;

}
.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;


  
}

.form{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-flow: column;
    height: 50%;
    width: 50%;
    background: rgba(201, 197, 197, 0.548);
    border-radius: 30px;
    border: 4px solid black;
    position: relative;
   

}
.form input{
    border: black solid 2px;
    border-radius: 10px;
    padding: 5px;
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
   
   outline: none;
   transition: 300ms ease-in-out;

}
input:focus{
    border: rgb(72, 192, 61) solid 2px !important;
    outline: none;
    box-shadow: 0px 0px 20px white;
   
}
#pnum{
    width: 100%;
}


i{
    position: absolute;
    font-size: 60px;
    scale: 2;
   top: -5%;
   color:white;
    left: -10px;
}
.d{
    position: relative;
    width: 95%;
}
.d label{
    position: absolute;
    left: 4%;
    color: #000;transition: 300ms ease-in-out;
    
}
.d input{
    width: 100%;
}
.d:hover label{
    transform: translateY(-14px);
   background-image: linear-gradient(transparent 48%,white 52%);

}
span{
    position: absolute;
    color: white;
    font-family: 'kavoon';
    font-weight: 900;
    letter-spacing: 3px;
    top: 1%;
    right: -10%;
    font-size: 40px;
    transform: rotateZ(50deg);
    text-shadow: 1px 2px 0px #000000,1px -2px 0px #000000;
    animation: b 1s infinite ease-in-out;
    
}
@keyframes b {
    from{


    }
    to{
        scale: 1.5;
        
    }
    
}
.valider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self:center;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'kavoon';
}
.valider .btn{
    padding: 8px;
    width: 180px;
    font-size: 18px;
   
}
.vs,.nvs{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "kavoon";
    font-size:25px;
    letter-spacing: 2px;
   

}
.vs{
    opacity: 1;
}
.nvs{
    opacity: 0;
}
canvas {
    position: fixed;
    top:0;
    right: 0;
    z-index: -1;
  }
  select{
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: solid 2px black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;

  }.bac{
   
    background-image: linear-gradient(to right,#bec8d3,#e6e8f8);
  
    
}

.social {
  
    position: relative;
  }
  .heart {
    opacity: 0;
    position: absolute;
    transform: translateY(-18px);
  }
  
  .heart__svg {
    width: 18px;
    height: 29px;
    color: rgb(126, 228, 126);
  }
  svg{
    scale: 4;
    color: rgb(121, 231, 121) !important;
  }
  .heart_1 {
    animation: 2.4s move-heart-left ease-out infinite;
  }
  .heart_2 {
    animation: 2.4s move-heart-right 0.4s ease-out infinite;
  }
  .heart_3 {
    animation: 2.4s move-heart-left 0.8s ease-out infinite;
  }
  .heart_4 {
    animation: 2.4s move-heart-right 1.2s ease-out infinite;
  }
  .heart_5 {
    animation: 2.4s move-heart-left 1.6s ease-out infinite;
  }
  .heart_6 {
    animation: 2.4s move-heart-right 2s ease-out infinite;
  }
  @keyframes move-heart-left {
    0% {
      opacity: 1;
      top: 25px;
      right: -20px;
      width: 12px;
      height: 12px;
    }
    100% {
      opacity: 0;
      top: -60px;
      right: -55px;
      width: 35px;
      height: 35px;
    }
  }
  @keyframes move-heart-right {
    0% {
      opacity: 1;
      top: 25px;
      right: -20px;
      width: 12px;
      height: 12px;
    }
    100% {
      opacity: 0;
      top: -40px;
      right: -65px;
      width: 35px;
      height: 35px;
    }
  }
  
.slider-warpper {
 
  max-width: 1200px;
  margin: 0 70px 55px;
  overflow: hidden;
}
.conts{
  box-sizing: border-box;
}




.card-list .card-item {
  color: white;
  background: rgba(255,255,255,0.2);
  user-select: none;
  padding: 20px;
  border-radius: 8px;
  height: 420px;
  border: 1px solid  rgba(255,255,255,0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
 backdrop-filter: blur(30px);
 overflow: auto;

}
.card-list .card-item .user-i{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid white;
  padding: 4px;
 

}
.card-list .card-item .user-p{
  font-size: 1.15rem;
  margin: 10px 0 20px;
  font-weight: 500;
  text-align: center;

}

.swiper-pagination {
  
  color:white !important;
  
  scale: 2;
}
.sb{
  color:white;
  margin-top: -50px;
  transition: 200ms ease-in-out;
}
.sb:hover{
  color: black;
}
  

  @media  (max-width:930px){
 .cont,.form{
    width: 100%;
 }
 input,select{
    width: 100%;
    font-size: 12px
 }
 span{
    display: none;
 }
 label{
    display: none;
 }
 .d{
    width: 100%;
 }
 .heart {
display: none;
}

.heart__svg {
display: none
}


   
   

} 
    